body {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
    

}
 
header {
    margin-top: 1em;
}

textarea {
    resize: none;
}

/* main */

.principal {
    
    padding-left: 17%;
    margin: 0 auto;
    display: flex;
    gap: 5%;



}

.principal p {
    font-size: 0.75em;
    color: #495057;
}
/* area de texto */
.campoTexto {
    background: #E5E5E5;
    border: transparent;
    font-size: 2em;
    margin-top: 0.5em;
    color: #0A3871;
}

.campoTexto:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.campoTexto::placeholder {
    color: #0A3871;

}



.tela1 {
    width: 28%;
    height: 100%;
    border: 1px solid white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 2em;
    background: #ffffff;

}

.tela1 h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #343A40;
}

.tela1 p {
    text-align: center;
    font-size: 0.75em;
    color: #495057;
}
.tela2 {

    width: 13em;
    height: 19em;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 2em;
    background: #ffffff;
    font-size: 24px;
    color: #495057;


}

.textArea2 {
    font-size: 24px;
    border: 1px solid white;
    width: 78%;
    height: 71%;
    border-radius: 2em; 
}
.textArea2:focus {
    box-shadow: 0 0 0 0;
    outline: 0;

    
}



footer {
    padding-top: 5em;
    display: flex;
    width: 20%;
    margin: 0 auto;
    gap: 3%;
    
  
    
}

footer a {
    text-decoration: none;
    color: #0A3871;
    display: flex;
    align-items: center;
    border: 1px solid #0A3871 ;
    background: #D8DFE8;
    border-radius: 5px;
    padding: 1%;
  
 
}
footer a:hover {
    background:#0A3871;
    color: #FFFFFF
}


.buttonCripto {
    padding: 0.9375em 6.875em;
    border-radius: 1.25em;
    border: 0.0625em solid #0A3871;
    font-size: 1em;
    margin: 0em 0.625em;
    cursor: pointer;
    background:#0A3871; 
    color: #FFFFFF;
    
}
.buttonDecripto {
   
    border-radius: 1.25em;
    border: 0.0625em solid #0A3871;
    font-size: 1em;
    margin: 0em 0.625em;
    cursor: pointer;
    background:#D8DFE8; 
    color: #0A3871; 
    padding:  0.9375em 6.125em;
}
.buttonCripto:hover {
    background:#D8DFE8; 
    color: #0A3871; 
}
.buttonDecripto:hover {
    background:#0A3871;
    color: #FFFFFF
}

.buttonCopy {
    padding: 0.9375em 6.875em;
    border-radius: 1.25em;
    border: 0.0625em solid #0A3871;
    font-size: 1em;
    margin: 0 20%;
    cursor: pointer;
}



img {
    max-width: 100%;
}